.site-btn:hover {
    background-color: #ffb100 !important;
    padding-left: 10px;
    transition: 0.3s;
}
.td-price,
.td-count{
    border-radius: 0px !important;
}

.td-price,
.td-count{
    border-radius: 0px !important;
}
.td-btn {
    border-radius: 0px 10px 10px 0px !important;
    border-right: solid 1px #eee !important;
}
.table-striped .goods td {
    vertical-align: middle;
    border-left: solid 1px #eee;
    border-top: solid 1px #eee;
    border-bottom: solid 1px #eee;
}
.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: transparent !important;
}
.table-bordered {
    border-collapse: separate;
    border-spacing: 0 8px;
}
.table-striped .goods a:hover{
    transition: 0.3s;
    color: #ffc500 !important;
    font-weight:bold;
}
