.site-btn:hover {
    background-color: #ffb100 !important;
    padding-left: 10px;
    transition: 0.3s;
}
.td-price,
.td-count{
    border-radius: 0px !important;
}

.td-price,
.td-count{
    border-radius: 0px !important;
}
.td-btn {
    border-radius: 0px 10px 10px 0px !important;
}
.table-striped .goods td {
    vertical-align: middle;
}
.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: transparent !important;
}
.table-bordered {
    border-collapse: separate;
    border-spacing: 0 8px;
}
